<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="theFPConnection" value="Server=accessdb;Database=BRADYGBP_TEST;User id=SA;Password= 4cc355UK" />-->
    <add key="theFPConnection" value="Server=CAMSV-FPSQL12;Database=BRADYGBP;User id=jiraimport;Password= password" />
    <!-- Add more configuration stuff here-->
  </appSettings>  
</configuration>