<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- LIVE Server Settings/>-->
    <!--<add key="theFPConnection" value="Server=CAMSV-FPSQL12;Database=BRADYGBP;User id=jiraimport;Password= password" />-->
    <!--<add key="theJIRAConnection" value="https://support.bradyplc.com" />-->
    <!--<add key="theTempoToken" value="b7201cde-15d4-4e51-8f98-2d65456ce422" />-->

    <!-- TEST Server Settings/>-->
    <add key="theFPConnection" value="Server=CAMSV-FPSQL12;Database=BRADYGBPTEST;User id=jiraimport;Password= password" />
    <add key="theJIRAConnection" value="https://cambs-jira-test.bradyplc.com" />
    <add key="theTempoToken" value="b7201cde-15d4-4e51-8f98-2d65456ce422" />
    <!-- Add more configuration stuff here-->
  </appSettings>  
</configuration>