<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ServerTypeDemo" value ="Tom B, Jaturong, Harry"/>
    <add key="ServerTypeDevelopment" value ="Tom B"/>
    <add key="ServerTypeClient" value="Jaturong"/>
    <add key="DemoServer" value="CAMVM-TS8-DEM4;CAMVM-DEM2"/>
    <add key="DevelopmentServer" value ="CAMVS-CPS8-T1;CAMVS-CPS8-T2;CAMVS-CPS8-T3;CAMVS-CPS8-T4;CAMVS-CPS8-T5;CAMVS-CPS8-T6;TRINITYS22;TRINITYS24;TRINITYS25"/>
    <add key="ClientServer" value ="CAMVS-CPS3-T1;CAMVS-CPS3-T2;CAMVS-CPS3-T3;CAMVS-CPS3-T4;CAMVS-CPS3-T5;CAMVS-CPS3-T6;CAMVS-CPS3-T7;CAMVS-CPS8-T7;CAMVS-CPS8-T8;CAMVS-CPS8-T9;CAMVS-CPS8-T10;CAMVS-CPS8-T11;CAMVS-CPS8-T12;CAMVS-LCS3-T1;CAMVS-LCS3-T2;CAMVS-LCS3-T3;CAMVS-LCS3-T4;CAMVS-LCS3-T5;CAMVS-LCS3-T6;CAMVS-LCS3-T7;CAMVS-LCS8-T1;CAMVS-LCS8-T2;CAMVS-LCS8-T3;CAMVS-LCS8-T4;CAMVS-LCS8-T5;CAMVS-LCS8-T6;CAMVS-LCS8-T7;CAMVS-LCS8-T8;CAMVS-LCS8-T9;CAMVS-LCS8-T10;TRINITYS2;TRINITYS12;TRINITYS13"/>
    <add key="HideDatabases" value ="DEVIAIN;DEVDARRN;DYDEV;DYNCAB;DYNCLEAN;DYNPLA;DYNSUP1;DYNTSt1;DYNTST1B;DYNTST2;DYTRBLS;DYTRDEV;LMECTST1;LMECTST2;LMECTST3;PRYREG1;PRYREG2;PRYREG3;PRYREG4;RMANCAT"/>
    <add key="Output" value="\\camvs-list8-1\wwwroot\Servers.htm"/>
    <add key="Interval" value="60"/>
    <add key="Standalone" value="true"/>
    <add key="User" value="versioncheck"/>
    <add key="Password" value="versioncheck"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

</configuration>



  
