<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Servers" value="
      CAMVS-CPS3-T1;
      CAMVS-CPS3-T2;
      CAMVS-CPS3-T3;
      CAMVS-CPS3-T4;
      CAMVS-CPS3-T5;
      CAMVS-CPS3-T6;
      CAMVS-CPS3-T7;
      CAMVS-CPS8-T1;
      CAMVS-CPS8-T2;
      CAMVS-CPS8-T5;
      CAMVS-CPS8-T6;
      CAMVS-CPS8-T7;
      CAMVS-CPS8-T8;
      CAMVS-CPS8-T9;
      CAMVS-CPS8-T10;
      CAMVS-CPS8-T11;
      CAMVS-CPS8-T12;
      CAMVS-CPS8-T3;
      CAMVS-CPS8-T4;
      CAMVS-LCS3-T1;
      CAMVS-LCS3-T2;
      CAMVS-LCS3-T3;
      CAMVS-LCS3-T4;
      CAMVS-LCS3-T5;
      CAMVS-LCS3-T6;
      CAMVS-LCS3-T7;
      CAMVS-LCS8-T1;
      CAMVS-LCS8-T2;
      CAMVS-LCS8-T3;
      CAMVS-LCS8-T4;
      CAMVS-LCS8-T5;
      CAMVS-LCS8-T6;
      CAMVS-LCS8-T7;
      CAMVS-LCS8-T8;
      CAMVM-TS8-DEM4;
      CAMVM-DEM2;
      CAMVS-LCS8-T9;
      TRINITYS2;
      TRINITYS12;
      TRINITYS13;
      TRINITYS22;
      TRINITYS24;
      TRINITYS25"/>
    <add key="Databases" value="
      ALE600;
      ALETST1;
      ALETST2;
      AMCTST1;
      AMCTST2;
      ASATST1;
      AUTOTEST;
      BASELIVE;
      BASETEST;
      BAYTST1;
      BAYTST2;
      CODELCO;
      CONTST1;
      DBLTST1;
      DBLTST2;
      DEMTST1;
      DEVTEST;
      DUCTST1;
      GALETST1;
      GERPERF1;
      GERPERF2;
      GERTST1;
      GERTST2;
      GLENTST1;
      GLENTST2;
      HSBCTST1;
      HSBCTST2;
      JEFFMARG;
      JEFFTST1;
      JEFFTST2;
      KGHMTST1;
      KGHMTST2;
      KOCHTST1;
      KOCHTST2;
      LDTST1;
      LMETEST;
      MCIETST1;
      MCIETST2;
      MCNYTST1;
      MCNYTST2;
      MCTTST1;
      MCTTST2;
      NEWTST1;
      NEWTST2;
      NMRTST1;
      NOVTST1;
      NOVTST2;
      ORA903;
      ORAPERF;
      PRYTST1;
      PRYTST2;
      RICETST1;
      RICETST2;
      RONTST2;
      RTATST1;
      RTATST2;
      SBL500;
      SBLPREC;
      SBLTST1;
      SBLTST2;
      SPANLATE;
      SPANPERF;
      SQLTEACH;
      SUPASIA;
      TESTDB1;
      TESTDB2;
      TOYTST1;
      TOYTST2;
      TRAFTST1;
      TRAFTST2;
      V600TEST;
      XTRTST1;
      XTRTST2"/>
    <add key="Output" value=".\Servers.htm"/>
    <add key="Interval" value="60"/>
    <add key="Standalone" value="true"/>
    <add key="User" value="versioncheck"/>
    <add key="Password" value="versioncheck"/>
  </appSettings>
</configuration>